<%- count = event.persons.claimed(secret_santa_id).count %>

<div id="<%= dom_id event, "#{secret_santa_id}_claimed_people" %>">
  <br>
  <%= link_to "#" do %>
    <div class="flex justify-around">
      <span class="relative inline-flex rounded-md shadow-sm">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-purple-400 text-base leading-6 font-medium rounded-md text-purple-800 bg-white hover:text-purple-700 focus:border-purple-300 transition ease-in-out duration-150">
          Find out who you'll be gifting
        </button>
        <%- unless count.zero?  %>
          <span class="flex absolute h-5 w-5 top-0 right-0 -mt-1 -mr-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-5 w-5 bg-purple-500 text-white text-sm justify-center"><%= count %></span>
          </span>
      </span>
    <% end %>
    </div>
  <% end %>
</div>

