<p id="<%= dom_id person %>" class="bg-gray-100 appearance-none border-2 border-gray-100 rounded  py-2 px-4 my-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 w-full max-w-md mx-auto">
  <%= person.name %>
</p>
